@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Montserrat:wght@400;600&display=swap');

:root {
  --color-saffron: #E8C547;
  --color-coral: #E56B6F;
  --color-pink: #B56576;
  --background-color: #FFFFFF;
  --color-text-dark: #333333;
  --color-text-light: #FFFFFF;
  --contact-section: #CDD1C4;
  --color-jet: #30323D;
  --color-gray: #4D5061;
  --about-section: #5C80BC;
}

/* Global reset */
*::before,
*::after,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background-color);
  font-family: 'Montserrat', sans-serif;
  color: var(--color-text-dark);
  scroll-behavior: smooth;
}
