:root {
  --color-gray: #2e2e2e;
  --color-text-light: #ffffff;
  --color-ash: #383838;
  --color-saffron: #f4c430;
  --color-glaucous: #6082b6;
  --color-coral: #ff6f61;
}

.navbar {
  background-color: var(--color-gray);
  color: var(--color-text-light);
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbarLinks, .navbarLinksOpen {
  display: flex;
  gap: 1rem;
}

.navbarLinksOpen {
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  width: 50%; 
  height: 100%;
  background-color: var(--color-ash);
  transform: translateX(0);
  transition: transform 0.3s ease;
  z-index: 1050;
  margin-left: auto;
  margin-right: auto;
  
}

.navbarLinks {
  flex-direction: row;
}

.navLink {
  color: var(--color-text-light);
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

.navLink:hover {
  color: var(--color-saffron);
}

.authSection {
  display: flex;
  align-items: center;
}

.authButtons {
  background-color: var(--color-glaucous);
  color: var(--color-text-light);
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  border: none;
  padding: 0.75rem 1.5rem;
  margin-left: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.authButtons:hover,
.authButtons:focus {
  background-color: var(--color-coral);
  transform: translateY(-2px);
}

.authButtons:active {
  transform: translateY(0);
}

.checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition-duration: 0.3s;
  
}

.bars {
  width: 100%;
  height: 4px;
  background-color: var(--color-coral);
  border-radius: 4px;
}

#bar2 {
  transition-duration: 0.3s;
}

#bar1,
#bar3 {
  width: 70%;
}

.checkbox:checked + .toggle .bars {
  position: absolute;
  transition-duration: 0.3s;
  
}

.checkbox:checked + .toggle #bar2 {
  transform: scaleX(0);
  transition-duration: 0.3s;
}

.checkbox:checked + .toggle #bar1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: 0.3s;
  
}

.checkbox:checked + .toggle #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: 0.3s;
}

.checkbox:checked + .toggle {
  transition-duration: 0.3s;
  transform: rotate(180deg);
  z-index: 1100;
}

@media (max-width: 1024px) {
  .toggle {
    display: flex;
  }

  .navbarLinks {
    display: none;
  }

  .navbarLinksOpen {
    display: flex;
  }
}

@media (min-width: 1025px) {
  .toggle {
    display: none;
  }

  .navbarLinks {
    display: flex;
  }

  .navbarLinksOpen {
    display: none;
  }
}
