.footer {
  background: var(--color-primary);
  color: var(--color-sea-salt-text);
  padding: 2rem 1rem;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.footerContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.footerColumn {
  flex: 1;
  min-width: 200px;
  margin-bottom: 1rem;
  text-align: left;
  padding: 0 1rem;
}

.footerColumn h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-family: var(--font-heading);
}

.footerColumn p {
  font-size: 1rem;
  line-height: 1.6;
}

.footerLinks {
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.footerLinks li {
  margin-bottom: 0.5rem;
}

.footerLinks a {
  color: var(--color-sea-salt-text);
  text-decoration: none;
  transition: color 0.3s ease;
}

.footerLinks a:hover {
  color: var(--color-accent);
}

.contactForm .formGroup {
  margin-bottom: 1rem;
}

.contactForm .formControl {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid var(--color-sea-salt-text);
  background-color: transparent;
  color: var(--color-sea-salt-text);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.contactForm .formControl:focus {
  border-color: var(--color-accent);
  box-shadow: none;
  outline: none;
}

.contactForm .formControl::placeholder {
  color: var(--color-sea-salt-text);
}

.contactForm textarea.formControl {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  backdrop-filter: blur(10px);
}

.contactForm .btn {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 0.2px solid transparent;
  border-radius: 4px;
  background-color: var(--color-button-base);
  color: var(--color-button-text);
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.contactForm .btn:hover {
  background-color: var(--button-background-color-hover);
    border-color: var(--color-button-hover); 
    color: var(--color-button-text-hover);
}

.socialIcons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

.socialIcons a {
  color: var(--color-sea-salt-text);
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.socialIcons a:hover {
  color: var(--color-accent);
}

.footerBottom {
  border-top: 1px solid var(--color-gray);
  padding-top: 1rem;
}

.footerBottom p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.6;
}
