.landingPage {
  overflow-x: hidden;
  background-color: var(--color-primary);
  color: var(--color-sea-salt-text);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.heroText {
  font-size: 8vw;
  font-family: 'Bebas Neue', sans-serif;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  animation: fadeIn 2s ease-in-out;
}

.subtitle {
  font-size: 1.5rem;
  font-family: 'Nunito', sans-serif;
  margin-top: 1rem;
  color: #fff;
  animation: fadeIn 3s ease-in-out;
}

.scrollIndicator {
  cursor: pointer;
  font-size: 2rem;
  margin-top: 2rem;
  animation: bounce 1s infinite;
  color: var(--color-saffron);
  display: inline-block;
  transition: transform 0.2s;
}

.scrollIndicator:hover {
  transform: translateY(30px);
  text-decoration: none;
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  background: var(--color-gray);
  padding: 0.5rem;
  box-sizing: border-box;
}

.sidebar {
  background: rgba(74, 74, 74, 0.8);
  color: var(--color-sea-salt-text);
  padding: 1rem;
  box-sizing: border-box;
  overflow-y: auto;
  z-index: 900;
  position: fixed;
  top: 60px;
  left: 0;
  width: 200px;
  height: calc(100% - 60px);
}

.mainContent {
  padding: 2rem;
  box-sizing: border-box;
  overflow: auto;
  flex: 1;
  margin-left: 200px;
  width: calc(100% - 200px);
}

.footer {
  background: var(--color-gray);
  color: var(--color-sea-salt-text);
  text-align: center;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .mainContent {
    margin-left: 0;
    padding: 1rem;
    width: 100%;
  }
}